<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="KinectGesturesServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <KinectGesturesServer.Properties.Settings>
            <setting name="Threshold1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Threshold2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Threshold3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Threshold4" serializeAs="String">
                <value>0</value>
            </setting>
        </KinectGesturesServer.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
